@if (isAddingTask) {
    <app-new-task
            [userId]="userId"
            (close)="onCloseDialog()"></app-new-task>
}

<section id="tasks">
    <header>
        <h2>{{ name }}'s Tasks</h2>
        <menu>
            <button (click)="onStartAddTask()">
                Add Task
            </button>
        </menu>

    </header>


    <ul>

        @for (task of selectedUserTasks; track task.id) {
            <!--            @if (id === task.userId){-->
                    <!--                <li>-->
                    <!--                    <app-task></app-task>-->
                    <!--                </li>-->
                    <!--            }-->

            <li>
                <app-task (complete)="onCompletedTask($event)"  [task]="task"></app-task>
            </li>

        }

    </ul>

</section>